<div
  class="col-8 mx-auto my-auto mt-20 w-1/2 text-white font-medium h-3/4"
  style="background-color: #f7924a; border-radius: 78px"
>
  <h1 class="text-9xl text-center" style="font-family: roboto">
    Terminos y Condiciones
  </h1>
  <p class="w-2/3 mx-auto text-base text-justify">
    "Al utilizar este sitio web, aceptas los siguientes términos y condiciones.
    La adopción de mascotas está sujeta a la aprobación de la organización,
    reservándose el derecho de evaluar la idoneidad del adoptante. Los
    adoptantes deben ser mayores de 18 años y comprometerse a proporcionar un
    hogar adecuado, cuidados y seguimiento veterinario. Puede aplicarse una
    tarifa de adopción no reembolsable. La información personal se manejará
    según nuestra política de privacidad. Se alienta a los adoptantes a devolver
    la mascota en lugar de abandonarla. Este acuerdo está regido por las leyes
    locales. La organización se reserva el derecho de actualizar estos términos
    en cualquier momento."
  </p>
  <div class="text-center mt-6">
    <a
      routerLink="/conditions/welcome"
      class="border-2 rounded-full text-lg p-3"
      >Acepto</a
    >
    <a
      routerLink="/conditions/denie"
      class="border-2 rounded-full text-lg p-3 mx-20"
      >No Acepto</a
    >
  </div>
</div>
