<div class="container-fluid">
  <div class="row justify-center text-center">
    <div
      class="col-md-6 justify-center rounded-e-3xl flex mt-9"
      style="background-color: #f7924a; width: 30%; height: 350px"
    >
      <img
        src="https://i.pinimg.com/736x/a7/24/fe/a724fe739385b8420636566e6897b493.jpg"
        alt="Img Cat 1"
        class="h-full w-full rounded-br-3xl"
      />
    </div>
    <div class="col-md-6">
      <section class="mt-5">
        <p style="font-size: 1.2rem; color: #f7924a" class="font-semi-bold">
          Name
        </p>
        <p class="text-gray-800">Adrient</p>
      </section>
      <section class="mt-5">
        <p style="font-size: 1.2rem; color: #f7924a" class="font-semi-bold">
          Phone
        </p>
        <p class="text-gray-800">0984332222</p>
      </section>
      <section class="mt-5">
        <p style="font-size: 1.2rem; color: #f7924a" class="font-semi-bold">
          Email
        </p>
        <p class="text-gray-800">adrient_gmail.com</p>
      </section>
    </div>
  </div>

  <my-menu />
</div>
