<div class="container-fluid mt-12">
  <div class="row">
    <div class="col-12 mt-5 col-sm-6">
      <img
        src="/assets/sources/donar_mascota.png"
        class="img-fluid mx-5 w-1/2"
        alt="..."
      />
      <p class="text-xl mt-5 text-gray-600 tracking-widest">
        "Cuando decides donar a tu mascota, le estás brindando una oportunidad
        de tener un hogar amoroso, en lugar de estar en un refugio o en la
        calle. Tu generosidad significa dar una segunda oportunidad a animales
        que necesitan un nuevo comienzo. ¡Tu donación no solo cambia vidas,
        salva vidas! Considera hacer la diferencia y dona hoy."
      </p>
    </div>
    <div class="col-12 col-sm-6">
      <img
        src="/assets/sources/bg-cat.png"
        class="img-fluid w-7/12 h-7/12 mx-auto"
        alt="..."
      />
    </div>

    <a
      routerLink="/donor/new-cat"
      class="rounded-full block p-1 text-center w-1/3 mx-10 text-white text-semibold"
      style="background-color: #f7924a"
    >
      <p style="font-size: 1.5rem" class="flex justify-center">
        Dona tu Mascota
      </p>
    </a>

    <img
      src="/assets/sources/social.png"
      alt="redes sociales"
      class="w-40 mx-40"
    />
  </div>
</div>
