<figure
  class="md:flex rounded-xl w-1/2 mx-auto p-8 text-white md:p-0"
  style="background-color: #f7924a"
>
  <img
    class="w-24 h-24 md:w-40 pt-3 pb-3 pl-3 md:h-auto md:rounded-none rounded-full mx-auto"
    src="/assets/cats-img/gato3.png"
    alt="gatito naranja"
    width="384"
    height="512"
  />
  <div class="pt-6 md:p-8 text-end md:text-left space-y-4">
    <figcaption class="font-medium">
      <a routerLink="/conditions" class="text-white text-xl">X</a>
    </figcaption>
    <blockquote>
      <p
        class="text-xl mt-5 text-center font-medium"
        style="font-family: roboto"
      >
        Su sesion fue rechazada para poder acceder tiene que aceptar teminos y
        condiciones
      </p>
    </blockquote>
  </div>
</figure>
